@font-face {
    font-family: 'bravorgregular';
    src: url('../font/bravorg.eot');
    src: url('../font/bravorg.eot?#iefix') format('embedded-opentype'),
         url('../font/bravorg.woff') format('woff'),
         url('../font/bravorg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// * {
//   box-sizing: border-box; 
// }

// .container {
//   height: 100vh;
// }

.main-header {
  @include container();
  text-align: center;
  font-family: 'bravorgregular';
  font-size: 40px;
  text-transform: uppercase;
  color: #0a2059;

  img {
    width: 150px;
    height: auto;
  }
}

.main-block {
  @include container();
  text-align: center;
  background: #c5d0e0;

  & p {
    margin: 0 auto;
    width: 100px;
    font-family: 'bravorgregular';
    font-size: 25px;
    text-transform: uppercase;
    color: white;
  }
}

.main-footer {
  @include container();
  font-family: 'bravorgregular';
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  background: #c5d0e0;

  & p {
    margin: 0;
  }

  & a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  & a:hover {
    background: #0a2059;
    color: white;
  }

  & a:active {
    opacity: 0.3;
  }
}
